<div class="bg-white fixed pin-t pin-b w-2/12 h-full">
  <div class="p-4 border-b border-r" style="line-height: 42px;">
    <h1 class="text-2xl">MCQ</h1>
  </div>

  <div class="p-4 border-r-2" style="height: calc(100% - 75px);">
    <div class="text-center">
      <%= link_to 'Add Media', new_media_item_path, class: 'primary button inline-block w-3/4' %>
    </div>

    <ul class="sidebar-nav">
      <li>
        <%= active_link_to queues_path do %>
          <i class="fas fa-inbox mr-4"></i>
          Queues
        <% end %>
      </li>
      <li>
        <%= active_link_to media_items_path do %>
          <i class="fas fa-photo-video mr-4"></i>
          Media
        <% end %>
      </li>
    </ul>
  </div>
</div>
