<div class="card">
  <div class="card-header">
    <span class="card-title"><%= note.title %></span>

    <span>
      <%= button_to note_path(note, format: :js),
                    method: :delete,
                    remote: true,
                    data: { confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </span>
  </div>
  <div class="card-content">
    <%= note.content %>
  </div>
</div>
