.card {
  @apply bg-white border rounded;

  .card-header {
    @apply flex justify-between px-4 pt-3;

    .card-title {
      @apply text-2xl;

      input {
        @apply text-base -ml-2;
      }
    }

    .card-actions {
      @apply flex items-baseline justify-end -mr-2;

      .card-action {
        @apply text-gray-500;

        &:hover { @apply text-black; }
      }
    }
  }

  .card-content {
    @apply pt-2 pb-2 px-4;
  }
}
