label {
  @apply block uppercase tracking-wide font-bold mb-2 text-gray-600;
}

input:not([type="submit"]):not([type="color"]):not([type="checkbox"]),
textarea,
select {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full
         py-2 px-4 text-gray-700 leading-tight mb-4;

  &:focus {
    @apply outline-none bg-white border-indigo-500;
  }

  &.small {
    @apply py-1 px-2;
  }

  &:disabled { @apply opacity-50 cursor-not-allowed; }
}

.select-wrapper {
  @apply relative flex items-center mb-4;

  select { @apply pr-8 mb-0; }

  &::after {
    @apply absolute;
    top: 12px;
    right: 10px;

    width: 20px;
    height: 20px;
    background-size: 20px;

    content: '';
    background-image: url('~icons/chevron-down');
    background-repeat: no-repeat;
  }
}
