[data-tooltip] {
  @apply relative;

  &:before {
    @apply opacity-0 absolute bg-gray-900 px-4 py-2 rounded text-xs text-white
           transition-opacity ease-linear duration-200 pointer-events-none;
    bottom: 150%;

    content: attr(data-tooltip);
  }

  &:after {
    @apply opacity-0 absolute w-0 h-0 pointer-events-none
           transition-opacity ease-linear duration-200;
    bottom: calc(150% - 5px);
    left: 16px;

    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }

  &:hover {
    &:before { @apply opacity-100; }
    &:after { @apply opacity-100; }
  }
}

h1, h2, h3, h4, h5, h6 {
  &[data-tooltip] {
    &:before { bottom: 110%; }
    &:after { bottom: calc(110% - 5px); }
  }
}
