<h2 class="page-header"><%= @link.title_or_url %></h1>

<div class="toolbar">
  <%= link_to 'Open Link', @link.url, class: 'button' %>

  <% unless @link.complete? %>
    <%= button_to 'Mark Completed', complete_link_url(@link), class: 'button', method: :post %>
  <% end %>
</div>

<div class="row mt-4">
  <div class="column md3 pl-0">
    <i class="fas fa-inbox mr-4 text-xl"></i>
    <%= @link.queue.name %>
  </div>
</div>
