<div class="small media-item">
  <i class="fas fa-sliders-h fa-lg <%= consumption_difficulty_classes(consumption_difficulty) %>"></i>
  <span class="<%= consumption_difficulty_classes(consumption_difficulty) %>"><%= consumption_difficulty.capitalize %></span>
</div>
