<label>
  <%= check_box_tag :select_all_media_items,
                    'all',
                    false,
                    data: {
                      action: 'change->bulk-actions#allItemsChanged'
                    } %>
  Select All
</label>
<% presenter.media_items.each do |media_item| %>
  <%= render 'media_items/_media_items/media_item_card',
             media_item: media_item,
             presenter: presenter %>
<% end %>

<%= paginate presenter.media_items %>
