<div data-target="media-viewer.viewerWrap" class="sidebar hidden">
  <div class="w-full h-full">
    <div class="toolbar mb-0 justify-end py-1 px-4">
      <button data-action="click->media-viewer#close" class="button icon-only">
        <i data-feather="x"></i>
      </button>
    </div>

    <div class="relative w-full h-full bg-gray-200">
      <div data-target="media-viewer.loader" class="fully-centered">
        <i data-feather="loader" class="loader"></i>
        <span class="text">Loading media...</span>
      </div>

      <div data-target="media-viewer.mediaWrap"
           class="h-full w-full fully-centered hidden"></div>
    </div>
  </div>
</div>
