<label class="text-right">
  <%= check_box_tag :select_all_media_items,
                    'all',
                    false,
                    data: {
                      action: 'change->bulk-actions#allItemsChanged'
                    } %>
  Select All
</label>

<%# Bulk actions & filters %>
<div class="hidden absolute bg-white border shadow-lg rounded-md py-2 px-4 z-50"
     data-target="bulk-actions.bulkActionsToolbar"
     style="top: -170px;">

  <span class="text-lg">Bulk Actions</span>
  <div class="toolbar">
    <%= render 'bulk_actions', queues: current_user_queues %>
  </div>
</div>

<div class="bg-white border rounded-md shadow">
  <% presenter.media_items.each do |media_item| %>
    <%= render 'media_items/_media_items/media_item_card',
               media_item: media_item,
               presenter: presenter %>
  <% end %>
</div>

<%= paginate presenter.media_items %>
