<div data-target="media-viewer.viewerWrap" class="fixed top-0 bottom-0 right-0 hidden" style="left: 45%;">
  <div class="w-full h-full bg-white">
    <div class="toolbar mb-0 justify-between py-1 px-4 border-b shadow-lg">
      <%= @media_item.url %>
      <button data-action="click->media-viewer#close" class="button icon-only">
        <i class="bi bi-x icon"></i>
      </button>
    </div>

    <div class="relative w-full h-full bg-gray-200">
      <div data-target="media-viewer.loader" class="fully-centered">
        <%= image_tag 'icons/loader', class: 'xl hoverable svg icon loader' %>
        <span class="text">Loading media...</span>
      </div>

      <div data-target="media-viewer.mediaWrap"
           class="h-full w-full fully-centered hidden"></div>
    </div>
  </div>
</div>
