<h2 class="page-header">Add Media</h2>

<%= render 'form',
           media_item: @media_item,
           submit_button_text: 'Add Media',
           queue_id: params[:queue],
           form_url: media_items_url %>
