<div class="row h-screen"
     data-controller="detail-pane"
     data-action="turbo:before-fetch-response@document->detail-pane#displayContent"
     data-detail-pane-selected-class="border-l-2 border-l-indigo-500">
  <div class="column md4 mt-4 pr-6">
    <%= render 'media_items/list_pane', presenter: @presenter %>
  </div>

  <div class="column md8 border-l pt-8 pl-4 relative">
    <div data-target="detail-pane.loading" class="fully-centered hidden">
      <%= image_tag 'icons/loader', class: 'xl hoverable svg icon loader' %>
      <span class="text text-muted">Loading...</span>
    </div>

    <div data-target="detail-pane.content">
      <%= turbo_frame_tag 'media-item-pane' do %>
        <% if @media_item %>
          <%= render 'media_items/media_item', media_item: @media_item %>
        <% else %>
          <div class="fully-centered">
            <i class="b bi-inbox icon text-5xl text-muted"></i>
            <span class="text-lg text-muted">Select a media item</span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
