<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body>
    <main class="h-screen w-screen flex items-center justify-center">
      <div class="w-1/4">
        <% flash.each do |key, value| %>
          <div class="alert <%= key == 'alert' ? 'error' : 'notice' %>">
            <%= value %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
